* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  position: relative;
  width: 100vw;
  transition: margin-right 0.5s;
}

.background::after {
  content: "";
  background-image: url('../assets/hamburguer-com-carne-tomate-pepino-em-conserva-e-bacon-frito.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  min-height: 100vh;
  background-color: #343a40;
  color: white;
  transform: translateX(350px);
  transition: transform 0.3s ease-in-out;
}

.menu-activated .background {
  margin-right: 330px;
}

#sidebar.active {
  transform: translateX(0);
}

.produto {
  opacity: 0.9;
}

.icones {
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.quantidade {
  width: 60px;
  text-align: center;
}

.contador {
  display: none;
}

.contador.active {
  display: block;
}

#liveToastBtn {
  display: none;
}